<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="Coradoc {{ generator_version }}">
{% if author %}<meta name="author" content="{{ author }}">{% endif %}
{% if description %}<meta name="description" content="{{ description }}">{% endif %}
<title>{{ title }}</title>
{% if custom_css %}<style>{{ custom_css }}</style>{% endif %}
</head>
<body>
{{ body }}
</body>
</html>
