{% if element.anchor_name %}
<p id="{{ element.anchor_name }}" class="bibliography-entry">
{% if element.document_id %}<span class="bibliography-label">{{ element.document_id }}</span> {% endif %}
{% if element.ref_text %}<span class="stddocTitle">{{ element.ref_text }}</span>{% endif %}
</p>
{% else %}
<p class="bibliography-entry">
{% if element.document_id %}<span class="bibliography-label">{{ element.document_id }}</span> {% endif %}
{% if element.ref_text %}<span class="stddocTitle">{{ element.ref_text }}</span>{% endif %}
</p>
{% endif %}
