{% if element.hidden? %}
{% elsif element.hr? %}
<hr>
{% elsif element.raw? %}
{{ element.text }}
{% elsif element.semantic_type == "source_code" %}
<pre{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}><code{% if element.language %} data-lang="{{ element.language }}"{% endif %}>{{ element.text }}</code></pre>
{% elsif element.semantic_type == "literal" %}
<pre{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %} class="literal">{{ element.text }}</pre>
{% elsif element.semantic_type == "listing" %}
<pre{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}>{{ element.text }}</pre>
{% elsif element.semantic_type == "quote" or element.semantic_type == "verse" %}
<blockquote{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}>
{{ element.content | render_element }}
</blockquote>
{% elsif element.semantic_type == "example" %}
<div{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %} class="example">
{{ element.content | render_element }}
</div>
{% elsif element.semantic_type == "sidebar" %}
<aside{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %} class="sidebar">
{{ element.content | render_element }}
</aside>
{% elsif element.semantic_type == "paragraph" %}
<p{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}>{{ element.content | render_element }}</p>
{% else %}
<div{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}>
{{ element.content | render_element }}
</div>
{% endif %}
