{% if element.format_type == "link" %}
<a href="{{ element.href }}">{{ element.text }}</a>
{% elsif element.format_type == "xref" %}
<a href="{{ element.href }}">{{ element.text }}</a>
{% elsif element.format_type == "footnote" %}
<sup class="footnote">{{ element.text }}</sup>
{% elsif element.format_type == "term" %}
<span class="{{ element.css_class }}" data-term-ref="{{ element.term_ref }}">{{ element.text }}</span>
{% elsif element.format_type == "stem" %}
<code class="stem">{{ element.text }}</code>
{% elsif element.format_type == "break" %}
<br>
{% elsif element.format_type == "span" %}
<span{% if element.css_class %} class="{{ element.css_class }}"{% endif %}>{{ element.text }}</span>
{% elsif element.format_type == "raw_inline" %}
{{ element.text }}
{% elsif element.html_tag %}
<{{ element.html_tag }}>{{ element.text }}</{{ element.html_tag }}>
{% else %}
{{ element.text }}
{% endif %}
