<{{ element.html_tag }}{% if element.id %} id="{{ element.id }}"{% endif %}{% if element.title %} title="{{ element.title }}"{% endif %}>
{% for item in element.items %}
<li>{{ item.content | render_element }}{% if item.nested_list %}{{ item.nested_list | render_element }}{% endif %}</li>
{% endfor %}
</{{ element.html_tag }}>
